@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #e6f2ff, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
}

.Home {
    text-align: center;
    margin: 80px auto;
    margin-top: 50px;
    padding: 20px;
    max-width: 1000px;
}

.Home h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
}

.Home p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

/* Main Content */
main {
    text-align: center;
    margin: 80px auto;
    margin-top: 0px;
    padding: 20px;
    /* max-width: 1000px; */
}

main h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
}

main p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #00bfff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Button Styling */
/* button {
    background-color: #00bfff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009acd;
} */

/* Utility Classes */
.margin-bottom {
    margin-bottom: 20px;
}

.padding {
    padding: 15px;
}

.Home {
    text-align: center;
}

.Home button {
    width: 5em;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #0000ff;
}

.Home button:hover {
    background-color: #0000aa;
}