.FamilyList,
.Family-AddDonation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.Family {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FamilyList h1,
.Family h2,
.DonationAddButton {
    width: 100%;
}

/* Styling for individual cards */
.FamilyCard {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
    min-width: 250px;
    text-align: center;
    transition: transform 0.2s ease;
}

.FamilyCard:hover {
    transform: translateY(-5px);
    background-color: #C7C7C7;
}

.FamilyList a {
    text-decoration: none;
    color: inherit;
}

.FamilyCard p {
    font-size: 1rem;
    color: #666;
}

.FamilyAddDonation {
    /* border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 40px 0 0 0; */
}

.FamilyAddDonation select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    outline: none;
    width: auto;
}

.CampFamFamilyAddDonationily select option {
    padding: 10px;
}