.CampList, .CampDetail, .CampFamily {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Styling for individual cards */
.CampCard {
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.CampCard:hover {
    transform: translateY(-5px);
    background-color: #C7C7C7;
}

.CampList a, .CampDetail a {
    text-decoration: none;
    color: inherit;
}

.CampCard h3 {
    color: #007bff;
    margin-bottom: 10px;
}

.CampCard p {
    color: #666;
    margin: 5px 0;
}

.CampDetail {
    text-align: center;
}
.CampListButton, .Heading, .Button, .Description {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Description {
    background-color: #C7C7C7;
}
.Description, .CampFamily {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 40px 0 0 0;
}

.CampFamily select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    outline: none;
    width: 100px;
}

.CampFamily select option {
    padding: 10px;
}

.CampListButton button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1rem;
}

.CampListButton button:hover {
    background-color: #5a6268;
}

/* Adjusting the layout for smaller screens */
@media (max-width: 768px) {
    .CampListButton {
        width: 100%;
        padding: 15px;
    }
    
    .CampListButton button {
        width: 100%;
        padding: 15px;
    }

    .CampList {
        flex-direction: column;
    }

    .CampCard {
        width: 350px;
        height: 130px;
        margin: 10px auto;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        font-size: 8px;
        padding: 1px;
        text-align: center;
        width: 100%;
    }
}

/* Center the form on the page */
.CampNew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Form styling */
.CampNew form {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

/* Form header */
.CampNew form h1 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Label styling */
.CampNew form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Input styling */
.CampNew form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Button styling */
.CampNew form button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5a6268;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.CampNew form button:hover {
    background-color: #495057;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .CampNew form {
        padding: 30px 20px;
    }

    .CampNew form h1 {
        font-size: 1.5rem;
    }

    .CampNew form button {
        font-size: 1.2rem;
        margin: 9.3px;
    }
}
