.Family {
    position: relative;
}

.Person, .CampCard, .FamilyCard {
    width: 20rem;
    height: 13rem;
    background-color: lightgrey;
    padding: 15px;
    margin: 10px;
    position: relative;
    display: inline-block;
}

.Job {
    background-color: lightgrey;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    width: 50rem;
    height: 9rem;
}

.Donation button {
    margin-top: 1rem;
    width: 100%;
}

.CampCard {
    top: 50px;
}

.CampList button {
    width: 20vw;
    position: absolute;
    left: 40vw;
}

/* .left {
    margin-left: 21em;
} */